* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  background-color: #11dd88;
}

.card {
  height: 48px;
  width: 48px;
  margin: 4px 4px 0 4px;
  cursor: pointer;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}